
li, a.nav_bar_links, button.cta {
    font-weight: 500;
    font-size: 16px;
    color:  #edf0f1;
    text-decoration: none;
}

header {
    background-color: #24252A;
    /* background-color: #474a54; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    cursor: pointer;
}

ul.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #3586ff;
    color: #0088a9;
}

button.cta {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button.cta:hover {
    background-color: rgba(0,136,169,0.8);
}