<header>
    <a class="nav_bar_links" href="#"><strong>BAPTISTE'S SANDBOX</strong></a>
    <nav>
        <ul class="nav_links">
            <li><a class="nav_bar_links" href="#">Personal projects</a></li>
            <li><a class="nav_bar_links" href="/troll-button/">troll button</a></li>
            <li><a class="nav_bar_links" href="/optimized-troll-button/">op troll button</a></li>
            <li><a class="nav_bar_links" href="#">School Projects</a></li>
            <li><a class="nav_bar_links" href="#">About me</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button class="cta">Contact</button></a>
</header>
