
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-inline-start: 10%;
    padding-inline-end: 10%;
}

.button {
    color: whitesmoke;
    padding: 10px;
    display: grid;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;

    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

#home-button {
    background: radial-gradient(#abe094, #5ad426);
}

#git-button {
    background: radial-gradient(#e09494, #d42626);
}
